<section class="catalogue-sec">
  <div class="container">
    <div class="breadcrumbs">
      <ul>
        <li><a href="./">Main</a></li>
        <li><a>Catalogue</a></li>
      </ul>
    </div>

    <div class="catalogue-sec__header">
      <h2 class="catalogue-sec__title">Catalogue</h2>
      <button class="catalogue-sec__btn btn-reset btn--stroke btn">
        <svg class="">
          <use xlink:href="img/sprite.svg#filter"></use>
        </svg>
        Filters</button>
    </div>
    <div class="catalogue-sec__big-line">
      <div class="catalogue-sec__item">
        <picture>
          <source srcset="./img/catalogue/01-2x.webp" media="(min-width: 1900px)">
          <source srcset="./img/catalogue/01.webp">
          <img src="./img/catalogue/01.jpg" srcset="./img/catalogue/01-2x.jpg" alt="">
        </picture>
        <h4 class="catalogue-sec__name">Azuki Art</h4>
      </div>
      <div class="catalogue-sec__item">
        <picture>
          <source srcset="./img/catalogue/02-2x.webp" media="(min-width: 1900px)">
          <source srcset="./img/catalogue/02.webp">
          <img src="./img/catalogue/02.jpg" srcset="./img/catalogue/02-2x.jpg" alt="">
        </picture>
      </div>
      <div class="catalogue-sec__item">
        <picture>
          <source srcset="./img/catalogue/03-2x.webp" media="(min-width: 1900px)">
          <source srcset="./img/catalogue/03.webp">
          <img src="./img/catalogue/03.jpg" srcset="./img/catalogue/03-2x.jpg" alt="">
        </picture>
      </div>
    </div>
    <div class="catalogue-sec__line">
      <div class="catalogue-sec__item">
        <picture>
          <source srcset="./img/catalogue/04-2x.webp" media="(min-width: 1900px)">
          <source srcset="./img/catalogue/04.webp">
          <img src="./img/catalogue/04.jpg" srcset="./img/catalogue/04-2x.jpg" alt="">
        </picture>
      </div>
      <div class="catalogue-sec__item">
        <picture>
          <source srcset="./img/catalogue/05-2x.webp" media="(min-width: 1900px)">
          <source srcset="./img/catalogue/05.webp">
          <img src="./img/catalogue/05.jpg" srcset="./img/catalogue/05-2x.jpg" alt="">
        </picture>
      </div>
      <div class="catalogue-sec__item">
        <picture>
          <source srcset="./img/catalogue/06-2x.webp" media="(min-width: 1900px)">
          <source srcset="./img/catalogue/06.webp">
          <img src="./img/catalogue/06.jpg" srcset="./img/catalogue/06-2x.jpg" alt="">
        </picture>
      </div>
      <div class="catalogue-sec__item">
        <picture>
          <source srcset="./img/catalogue/07-2x.webp" media="(min-width: 1900px)">
          <source srcset="./img/catalogue/07.webp">
          <img src="./img/catalogue/07.jpg" srcset="./img/catalogue/07-2x.jpg" alt="">
        </picture>
      </div>
    </div>

    <div class="catalogue-sec__big-line catalogue-sec__big-line--reverse">
      <div class="catalogue-sec__item">
        <picture>
          <source srcset="./img/catalogue/08-2x.webp" media="(min-width: 1900px)">
          <source srcset="./img/catalogue/08.webp">
          <img src="./img/catalogue/08.jpg" srcset="./img/catalogue/08-2x.jpg" alt="">
        </picture>
      </div>
      <div class="catalogue-sec__item">
        <picture>
          <source srcset="./img/catalogue/09-2x.webp" media="(min-width: 1900px)">
          <source srcset="./img/catalogue/09.webp">
          <img src="./img/catalogue/09.jpg" srcset="./img/catalogue/09-2x.jpg" alt="">
        </picture>
        <h4 class="catalogue-sec__name">Cel Mates</h4>
      </div>
      <div class="catalogue-sec__item">
        <picture>
          <source srcset="./img/catalogue/10-2x.webp" media="(min-width: 1900px)">
          <source srcset="./img/catalogue/10.webp">
          <img src="./img/catalogue/10.jpg" srcset="./img/catalogue/10-2x.jpg" alt="">
        </picture>
      </div>
    </div>
    <div class="catalogue-sec__line">
      <div class="catalogue-sec__item">
        <picture>
          <source srcset="./img/catalogue/11-2x.webp" media="(min-width: 1900px)">
          <source srcset="./img/catalogue/11.webp">
          <img src="./img/catalogue/11.jpg" srcset="./img/catalogue/11-2x.jpg" alt="">
        </picture>
      </div>
      <div class="catalogue-sec__item">
        <picture>
          <source srcset="./img/catalogue/12-2x.webp" media="(min-width: 1900px)">
          <source srcset="./img/catalogue/12.webp">
          <img src="./img/catalogue/12.jpg" srcset="./img/catalogue/12-2x.jpg" alt="">
        </picture>
      </div>
      <div class="catalogue-sec__item">
        <picture>
          <source srcset="./img/catalogue/13-2x.webp" media="(min-width: 1900px)">
          <source srcset="./img/catalogue/13.webp">
          <img src="./img/catalogue/13.jpg" srcset="./img/catalogue/13-2x.jpg" alt="">
        </picture>
      </div>
      <div class="catalogue-sec__item">
        <picture>
          <source srcset="./img/catalogue/14-2x.webp" media="(min-width: 1900px)">
          <source srcset="./img/catalogue/14.webp">
          <img src="./img/catalogue/14.jpg" srcset="./img/catalogue/14-2x.jpg" alt="">
        </picture>
      </div>
    </div>
    <div class="catalogue-sec__line">
      <div class="catalogue-sec__item">
        <picture>
          <source srcset="./img/catalogue/15-2x.webp" media="(min-width: 1900px)">
          <source srcset="./img/catalogue/15.webp">
          <img src="./img/catalogue/15.jpg" srcset="./img/catalogue/15-2x.jpg" alt="">
        </picture>
      </div>
      <div class="catalogue-sec__item">
        <picture>
          <source srcset="./img/catalogue/16-2x.webp" media="(min-width: 1900px)">
          <source srcset="./img/catalogue/16.webp">
          <img src="./img/catalogue/16.jpg" srcset="./img/catalogue/16-2x.jpg" alt="">
        </picture>
      </div>
      <div class="catalogue-sec__item">
        <picture>
          <source srcset="./img/catalogue/17-2x.webp" media="(min-width: 1900px)">
          <source srcset="./img/catalogue/17.webp">
          <img src="./img/catalogue/17.jpg" srcset="./img/catalogue/17-2x.jpg" alt="">
        </picture>
      </div>
      <div class="catalogue-sec__item">
        <picture>
          <source srcset="./img/catalogue/18-2x.webp" media="(min-width: 1900px)">
          <source srcset="./img/catalogue/18.webp">
          <img src="./img/catalogue/18.jpg" srcset="./img/catalogue/18-2x.jpg" alt="">
        </picture>
      </div>
    </div>
  </div>
</section>