<section class="creators">
  <div class="container">
    <div class="creators__header">
      <h2 class="title2 creators__title">Top creators</h2>
      <button class="btn btn--stroke creators__btn">See other popular arts</button>
    </div>
  </div>
  <div class="swiper creators__slider">
    <div class="creators__items swiper-wrapper">
      <div class="swiper-slide">
        <article class="creators__item creator">
          <div class="creator__image">
            <picture>
              <source srcset="./img/creators/01-2x.webp" media="(min-width: 1900px)">
              <source srcset="./img/creators/01.webp">
              <img src="./img/creators/01.jpg" srcset="./img/creators/01-2x.jpg 2x" alt="">
            </picture>
          </div>
          <div class="creator__info">
            <h4 class="creator__name">IRM</h4>
            <p class="creator__desc">
              NPunk is a limited collection of high quality NFTs...
            </p>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="creators__item creator">
          <div class="creator__image">
            <picture>
              <source srcset="./img/creators/02-2x.webp" media="(min-width: 1900px)">
              <source srcset="./img/creators/02.webp">
              <img src="./img/creators/02.jpg" srcset="./img/creators/02-2x.jpg 2x" alt="">
            </picture>
          </div>
          <div class="creator__info">
            <h4 class="creator__name">9 lives</h4>
            <p class="creator__desc">
              999 Fantasy Cats Living On The Solana Network
            </p>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="creators__item creator">
          <div class="creator__image">
            <picture>
              <source srcset="./img/creators/03-2x.webp" media="(min-width: 1900px)">
              <source srcset="./img/creators/03.webp">
              <img src="./img/creators/03.jpg" srcset="./img/creators/03-2x.jpg 2x" alt="">
            </picture>
          </div>
          <div class="creator__info">
            <h4 class="creator__name">The First 100</h4>
            <p class="creator__desc">
            </p>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="creators__item creator">
          <div class="creator__image">
            <picture>
              <source srcset="./img/creators/04-2x.webp" media="(min-width: 1900px)">
              <source srcset="./img/creators/04.webp">
              <img src="./img/creators/04.jpg" srcset="./img/creators/04-2x.jpg 2x" alt="">
            </picture>
          </div>
          <div class="creator__info">
            <h4 class="creator__name">Cyber Pulses</h4>
            <p class="creator__desc">
              Cyber Pulses is a brand dedicated to...
            </p>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="creators__item creator">
          <div class="creator__image">
            <picture>
              <source srcset="./img/creators/05-2x.webp" media="(min-width: 1900px)">
              <source srcset="./img/creators/05.webp">
              <img src="./img/creators/05.jpg" srcset="./img/creators/05-2x.jpg 2x" alt="">
            </picture>
          </div>
          <div class="creator__info">
            <h4 class="creator__name">DYMZ</h4>
            <p class="creator__desc">
              Welcome! I am DYMZ a Colombian/Latin graffiti...
            </p>
          </div>
        </article>
      </div>
      <div class="swiper-slide">
        <article class="creators__item creator">
          <div class="creator__image">
            <picture>
              <source srcset="./img/creators/06-2x.webp" media="(min-width: 1900px)">
              <source srcset="./img/creators/06.webp">
              <img src="./img/creators/06.jpg" srcset="./img/creators/06-2x.jpg 2x" alt="">
            </picture>
          </div>
          <div class="creator__info">
            <h4 class="creator__name">eib00n</h4>
            <p class="creator__desc">
              I'm a Computer Engineering graduate. I love 3D...
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>