<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <div class="hero__avatars">
        <div class="hero__img">
          <img src="./img/avatars/01.png" alt="">
        </div>
        <div class="hero__img">
          <img src="./img/avatars/02.png" alt="">
        </div>
        <div class="hero__img">
          <img src="./img/avatars/03.png" alt="">
        </div>
        <div class="hero__img">
          <img src="./img/avatars/04.png" alt="">
        </div>
        <div class="hero__img">
          <img src="./img/avatars/05.png" alt="">
        </div>
        <div class="hero__img">
          <img src="./img/avatars/06.png" alt="">
        </div>
      </div>
      <h4 class="hero__subtitle">
        <span>10+</span>
        NFTs designers
      </h4>
      <p class="hero__desc">
        Discover collect and sell rare NFTs: The world of NFTs offers a unique opportunity for collectors to own
        one-of-a-kind digital assets that can't be replicated.
      </p>
    </div>
    <div class="hero__main">
      <h1 class="hero__title">
        Discover<br>collect and sell<br>rare NFTs
      </h1>
      <a href="./catalogue.html" class="btn-reset btn--purp btn">See new collections</a>
    </div>
  </div>
</section>